body {
    background-color: #baacd5;
    background-image: radial-gradient(circle, rgba(243,221,231,1) 0%, rgba(213,229,248,1) 100%);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
 }